*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body{
  margin: 0;
  padding-bottom: 100px;
  font-family: "Poppins", sans-serif;
  background-color: bisque;
  color: rgb(3, 3, 3);
  line-height: 1.6;
}

.header {
  font-size: larger;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

.footer {
  font-size: smaller;
  padding: 10px;
  background-color: #f2f2f2;
  text-align: center;
  border-top: 1px solid #ddd;
  color: #333;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  height: 60px;
  padding: 0 20px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #e3990f;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #555;
}


.container{
  max-width: 786px;
  margin: auto;
  padding: 0 20px;
}

header{
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.card{
  background-color: #fff;
  color: #333;
  border-radius: 15px;
  padding: 40px 50px;
  margin: 20px 0;
  position: relative;
}

.text-display{
  position: relative;
  font-weight: bold;
}

.btn{
  color: rgb(12, 11, 11);
  border: 0;
  border-radius: 18px;
  color: rgb(7,7,7);
  width: 100%;
  height: 40px;
  cursor: pointer;
}

.delete{
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  background: none;
  border: none;
  height: 120px;
  font-size: 1.5rem;
}

.inputBox{
 padding: 48px;
}

.input_row{
  padding-bottom: 24px;
}

.input{
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  width: 100%;
  min-height: 44px;
  border-radius: 4px;
  outline-color: rgba(0, 0, 0, 0.5);
  background-color: rgb(255, 255, 255);
}

.label{
  font-size: 20px;
  font-weight: 600;
  display: block;
}

.error{
  font-size: 20px;
  font-weight: 600;
  display: block;
  color: red;
}

.active{
  color: rgb(255, 255, 255);
}